// Global SASS
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    margin: 0;
    color: $text-colour;
    background-color: $main;
    font-family: 'Roboto Condensed', sans-serif;
    @include media("<tablet") {
        font-size: 0.5em;
        p, h1, h2{
            font-size: 2em;
        }
    }
    font-size: 1em;
}

main {
    background-color: #ffffff;
    width: 450px;
    justify-content: center;
    margin: auto;
    padding: 80px 0 0 0;
    height: 100%;
}

//Fonts

p {
    font-size: 1rem;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

a{
    text-decoration: none;
}