@mixin background($img) {
	background: url($img) no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-25%);
  text-align: center;
}

@mixin content{
	box-shadow: 0 0px 20px black inset;
  	overflow:hidden;
    width: auto;
    min-height:100px;
    height: 100%;
}

@mixin transition($time){
	-moz-transition: all $time ease-in;
   	-o-transition: all $time ease-in;
    -webkit-transition: all $time ease-in;
    transition: all $time ease-in;
}



