
@import "globals.scss";
@import "mixins.scss";
@import "nav.scss";
@import "tweet.scss";

/*------------GENERAL-------*/
body{
  margin: 0;
  color: #244751;
  background-color: #eee;
  font-family: 'Roboto Condensed', sans-serif;
}

html{
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

main{
  background-color: #ffffff;
  width: 450px;
  margin: 0 auto;
  padding: 80px 0 0 0;
  height: 100%;
}
